body.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.side-header {
    background-color: burlywood;
    padding: 1rem;
}

.chat-container {
    position: relative;
    background-color: darkcyan;
    padding: 1rem;
    overflow-y: auto;
}

.chat-text-box {
    background-color: white;
    position: sticky;
    bottom: 0;
}